################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestMicroservice/bin/Release/netcoreapp3.1
